<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Response Monitor</title>
    <script src="{{ url_for('static', filename='jquery-3.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='echarts.js') }}"></script>
</head>

<body>
    <div id="main" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
    
    <script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    
    myChart.setOption({
        title: {
            text: 'Response Monitor2'
        },
        tooltip: {},
        legend: {
            data:['Response Time','MA','Upper Threshold','Lower Threshold']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: 'Response Time',
            type: 'line',
            data: []
        },{
            name: 'MA',
            type: 'line',
            data: []
        },{
            name: 'Upper Threshold',
            type: 'line',
            data: []
        }
        ,{
            name: 'Lower Threshold',
            type: 'line',
            data: []
        }]
    });
    var insert_time = ["","","","","","","","","",""],
        response = [0,0,0,0,0,0,0,0,0,0],
        ma = [0,0,0,0,0,0,0,0,0,0],
        upperthreshold = [0,0,0,0,0,0,0,0,0,0],
        lowerthreshold = [0,0,0,0,0,0,0,0,0,0],
        lastID = 0; 

    var update_mychart = function (data) { 
        
        myChart.hideLoading(); 
        
        dataLength = data.insert_time.length; 
        lastID += dataLength; 
        insert_time = insert_time.slice(dataLength).concat(data.insert_time); 
        response = response.slice(dataLength).concat(data.response.map(parseFloat)); 
        ma = ma.slice(dataLength).concat(data.ma.map(parseFloat));
        upperthreshold = upperthreshold.slice(dataLength).concat(data.upperthreshold.map(parseFloat));
        lowerthreshold = lowerthreshold.slice(dataLength).concat(data.lowerthreshold.map(parseFloat));

        myChart.setOption({
            xAxis: {
                data: insert_time
            },
            series: [{
                name: 'Response Time', 
                data: response
            },{
                name: 'MA',
                data: ma
            },{
                name: 'Upper Threshold',
                data: upperthreshold
            },{
                name: 'Lower Threshold',
                data: lowerthreshold
            }]
        });
        
        if (dataLength == 0){clearInterval(timeTicket);} 
    }
    
    myChart.showLoading();
    $.get('/show').done(update_mychart);
    var timeTicket = setInterval(function () {
        $.post('/show',{id: lastID}).done(update_mychart);
    }, 3000);
    
    </script>
</body>
</html>
